.separador{
    height: 2em;
}

.aviso{
    min-height: 2.5em;
}

@media only screen and (max-width: 1366px) {
    #botonimgFlotante{
        position: absolute;
        top: 8.5em;
        left: 8.5em;
        color: white;
    }
}

@media only screen and (max-width: 1024px) {
    #botonimgFlotante{
        position: absolute;
        top: 7em;
        left: 7.5em;
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    #botonimgFlotante{
        position: absolute;
        top: 7em;
        left: 7.5em;
        color: white;
    }
}